@use "../../styles/variables" as vars;
@use "../../styles/responsive" as resp;
.users{

 .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    button {
      padding: 10px 20px;
      cursor: pointer;
      background-color: vars.$main-color;
      color: vars.$dark-color;
      border: none;
      border-radius: 5px;
      font-weight: bold;

      &:hover {
        background-color: #ddd;
      }
    }
  }
}